.home #header{
    width: 100%;
    min-height: 100vh;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.search-box:hover > input {
    width: 150px;
    padding: 0 8px;
}

.search-box a {
   
    float: right;
    width: 44px;
    height: 44px;
    padding-top: 11px;

    transition: 1s
}
.search-box input {
    border: none;
    background-color: transparent;
    outline: none;
    text-decoration: underline;
    padding: 0;
    color: black;
   
    font-size: 18px;
    transition: 1s;
    
    width: 0px;
}
.search-box i {
    color: black;
    font-size: 18px;
  
}
.nav-links a{
    color: black;
    padding-right: 20px;
    font-size: 20px;
}
.main-header{
    margin-top: 20vh;
}
.home .my-btn{
    padding: 5px 20px 10px ;
    border-radius: 30px;
    background: rgb(121, 168, 27);
    color: white;
}

.home .my-btn:hover{
    background: rgb(125, 184, 30);
}
.home .my-btn2{
    padding: 5px 10px 6px 10px ;
    border-radius: 30px;
    background: rgb(121, 168, 27);
    color: white;
}

.home .my-btn2:hover{
    background: rgb(125, 184, 30);
}
.deal-one{
    border: 1px solid rgb(204, 201, 201);
    padding: 5px 5px;
border-radius: 15px;
}

.home #countdown ul  {
    margin:0;
    padding:0;
      list-style: none;
    }
.home #countdown  li {
    display: inline;
    list-style-type: none;
    text-transform: uppercase;
  }
  
.home #countdown  li span {
    font-size: 12px;
    background: rgb(121, 168, 27);
    color: white;
    padding:2px 5px;
    border-radius:5px;
    margin: 3px;
}
.home .summ{

    padding: 10px 20px;
    background: linear-gradient(160deg,rgb(239, 238, 238)
     60%, rgb(228, 216, 216) 40% );
     
     border-radius: 15px;
}
.home .summer{
    color: rgb(100, 141, 17);
    font-weight: 500;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}
.home .feature button{
    border: none;
    font-weight: 600;

    background: transparent;
}
.home .feature button:focus{

    color: yellowgreen;
    border-bottom: 2px solid yellowgreen;
}
  
.home #gallary .image{
    border:1px solid rgb(190, 188, 188);
    border-radius: 15px;
}
.home #natural-product{
    width: 100%;
    
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.home #natural-product .natural{
    margin-top: 20vh;
    margin-bottom: 20vh;

    
}
.home .summer2{
    color: white;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
    
}
.home #full-support i{
    font-size: 300%;
    margin: 25px 20px;
}
.home .full-support{
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 20px;
}
.home .category {
    display: flex;
    justify-content:space-around;
}
.home .category button{
    border: 1px solid rgb(196, 195, 195);
    background: white;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    

}
.home .category button:focus{

    color: yellowgreen;
    border: 1px solid yellowgreen;
}
#footer-form{
    background: rgb(101, 145, 14);
}
#footer-form .input-group input{
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    font-size: 13px;
}
#footer-form .input-group .input-group-text{
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background: black;
    color: white;
    border-color: black;
    font-size: 13px;
}
#footer-form .icon{
    display: flex;
    justify-content:space-around;
}
#footer-form .icon i{
    color: gray;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: auto;
    background: white;
    border-radius: 20px;
    padding-left: 8px;
}
#footer .plants a{
    color: white;
    font-size: 10px;
    padding: 0px 10px;
    border-right: 2px solid gray;
}
.shadow{
    border-radius: 10px;
    border: 2px solid rgb(228, 227, 227);
    box-shadow: 5px 2px 5px rgb(226, 226, 226);
    overflow: hidden;
}
#blog .images{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
#blog .image{
    width: 10%;
}

@media only screen and (max-width: 600px) {
    #header .navbar{
        width: 100% !important;
        background: rgba(255, 255, 255, 0.445) !important;
    }
  }